@mixin landingPage_body{
    all: revert;
    background: transparent;  /* fallback for old browsers */
    position: relative;
    top: 0;
    left: 0;
    margin-top: 0rem;
    margin-left: 0rem;
    margin-right: 0rem;
}

.landingPage_main_area, .errorPage_main_area{
    @include landingPage_body();
    //height: 92vh;
    overflow: hidden;
    margin-left: 10px;
    margin-right: 10px;
    min-height: 84vh !important;
  }
  
  .landingPage_main_area, .errorPage_main_area{
    border-radius: 0.5rem;
  }
  
  .errorPage_main_area{
    background-color: #222730;
  }



  // .ripplejkn-background{
  //   z-index: -1 !important;
  // }
  // .landingPage_contents{
  //   z-index: 2;
  // }

  .landingPage_main_area{
    background-image: radial-gradient( circle at center, var(--primaryColor) 0 55%, var(--primaryColor) 55% 100%);
  }
  //Tablet
  @media only screen and (min-width: 768px) {
    .landingPage_main_area {
      background-image: radial-gradient( circle at center, var(--primaryColor) 0 65%, #191c22 65% 100%);
      margin-left: 30px;
      margin-right: 30px;
    }
  }
  
  
  @media screen and (min-width: 1060px) {
    .landingPage_main_area{
      margin-left: 50px;
      margin-right: 50px;
      height: 84vh !important;
      /* Multi-position color stop: from the left to right,,
      with a red bottom-left half and a blue top-right half,
      with a hard line where the gradient changes from red to blue */
      background-image: radial-gradient( circle at center, var(--primaryColor) 0 55%, #191c22 55% 100%);
    }
  } 
  /* end of landing page main body */