@import "./_fonts.scss";

.projectArea{
    all: revert;
    overflow: hidden;
    border-radius: 0.5rem;
    background-color: var(--lightDark);
    color: var(--secondaryColor);

    .text-area{
      padding: 4% 6%;
      line-height: 0;
      @include standardFonts();

      h3{
        font-size: 1.7em;  
      }

      .subheading_portifolio{
        font-size: var(--microFontSize);
        padding: 0;
      }
    }

    .text-area a{
        display: block;
        margin-top: 1em;
        padding: 1em;
        text-decoration: none;
        border: none; 
        border-radius: 5px;   
        min-width: 100px;
        text-align: center; 
        -webkit-tap-highlight-color: rgba(0,0,0,0);    
      
   
        background-color: var(--mainDark);
        color: var(--secondaryColor);
    
        transition: background-color 300ms, color 300ms;
        &:hover { background-color: darken(#242c38, 10%); color: #f3f3f3;} 
    }
  }


  //pc screen
  @media screen and (min-width: 768px) {
    .projectSection_area{
      width: auto;
      //margin-left: 50px;
      //margin-right: 50px;
      //height: 84vh !important;
    }
  }