:root{
  --primaryColor:#000000;
  --secondaryColor:#cdc3ff;
  --lightSecondaryColor:#918cac;
  --accentColor: rgb(43, 0, 255);
  --lightAccentColor: #9884fc;
  --secondaryAccentColor: #990000;
  --secondaryLightAccentColor: #ff3333;
  --mainLight:#f3f3f3;
  --mainDark:#19202A;
  --primaryFont: 'Nunito', sans-serif;
  --secondaryFont: 'Poiret One', cursive;
  --tertiaryFont: 'Poiret One', cursive;
}

@import "./styles/_fonts.scss";
@import "./styles/_navBar.scss";
@import "./styles/_landingPage.scss";
@import "./styles/_rippleBackground.scss";
@import "./styles/_noiseBackground.scss";
@import "./styles/_resume.scss";
@import "./styles/_contact.scss";
@import "./styles/_effects.scss";
@import "./styles/_iconInfoBox.scss";

body{
  font-family: var(--primaryFont) !important;
  background: var(--mainDark) !important;
  color: var(--mainLight) !important;
  height: 100%;
  width: 100%;
  margin: 0px;
  overflow: auto;
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
}
body::-webkit-scrollbar {
  display: none;
}

.text-subtitle{
  font-family: var(--primaryFont) !important;
  text-transform: capitalize;
}


.text-accent{
  color: var(--accentColor);
}

.text-bright{
  color: var(--lightAccentColor);
}