:root{
  --primaryColor:#000000;
  --secondaryColor:#cdc3ff;
  --accentColor: rgb(43, 0, 255);
  --lightAccentColor: #9884fc;
  --secondaryAccentColor: #990000;
  --secondaryLightAccentColor: #ff3333;
  --mainLight:#f3f3f3;
  --mainDark:#19202A;
  --primaryFont: 'Nunito', sans-serif;
  --secondaryFont: 'Tangerine', cursive;
}

@import "./styles/_fonts.scss";
@import "./styles/_contact.scss";
@import "./styles/_effects.scss";

body{
  font-family: var(--primaryFont) !important;
  background: var(--mainDark) !important;
  color: var(--mainLight) !important;
  height: 100%;
  width: 100%;
  margin: 0px;
  overflow: auto;
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
}
body::-webkit-scrollbar {
  display: none;
}

.text-subtitle{
  font-family: var(--primaryFont) !important;
  text-transform: capitalize;
}


.text-accent{
  color: var(--accentColor);
}

.text-bright{
  color: var(--lightAccentColor);
}

/* *********************************************************************** */

// Navbar
.navbar {
  //position: relative;
  //top: 0;
  //left: 0 !important;
  margin: 0px !important;
  width: 100% !important;
  background: transparent;
  z-index: 1;
}
.nav-center {
  width: 100%;
}
.nav-header {
  display: flex;
  justify-content: space-between !important;
}
.nav-btn-small-screen {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  color: var(--secondaryColor);
}
.nav-btn-small-screen button{
  background: transparent;
  border: none;
  color: var(--secondaryColor);
  font-size: 1.2rem;
}
.nav-btn-small-screen button:focus {
  outline: none;
}
.nav-header button:focus {
  outline: none;
}
button:focus {
  outline: none;
  border:none;
}
.nav-btn-big-screen{
  display: none;
}
.nav-icon {
  font-size: 1.5rem;
}
.nav-links {
  height: 0;
  overflow: hidden;
  transition: var(--mainTransition);
  transition-duration: 1.5s;
  list-style-type: none;
  color:var(--secondaryColor) !important;
  text-transform: capitalize !important;
  width: 100%;
  justify-content: center;
}
.nav-links a {
  display: block;
  text-decoration: none;
  padding: 1rem 1rem;
  color: var(--secondaryColor);
  transition: var(--mainTransition);
  text-align: right;
  transition-duration: 1s;
  @include standardFonts();
}
.nav-links a:hover {
  color: var(--lightAccentColor);
  text-decoration: none;
}

.show-nav {
  height: 100px;
  background: transparent;
  transition-duration: 2s;
}
@media screen and (min-width: 768px) {
  .navbar{
    padding: 0rem !important;
    width: auto !important;
    height: 8vh;
    margin-left: 50px !important;
    margin-right: 50px !important;
  }
  .nav-btn-small-screen {
    display: none;
  }
  .nav-btn-big-screen{
    display: inline-block;
    vertical-align: middle;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;

    
  }
  .nav-btn-big-screen button{
    background: transparent;
    border: none;
    transition-duration: 1s ease;
    color: var(--secondaryColor);
    font-size: 1.2rem;

    // for backward-movement animation thingy
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    
  }
  .nav-btn-big-screen button:hover, .nav-btn-big-screen button:focus, .nav-btn-big-screen button:active{
    color: var(--lightAccentColor);
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
  .nav-btn-big-screen button:focus {
    outline: none;
  }
  .nav-center {
    max-width: auto;
    display: flex;
    vertical-align: middle;
  }
  .nav-links {
    height: auto;
    display: flex;
    padding: 0rem;
    margin: 0rem;
    font-size: 0.95em;
  }
  .nav-links a {
    margin: 0 1rem;
    padding: 0.5rem 0;
  }
}
/* End of Navbar */

/* *********************************************************************** */

/* Landing Page*/
.landingPage_main_area, .contactPage_main_area{
  background: var(--primaryColor);  /* fallback for old browsers */
  position: relative;
  top: 0;
  left: 0;
  margin-top: 0rem;
  margin-left: 0rem;
  margin-right: 0rem;
  height: 92vh;
}

/* Image */
.young_developer_img{
  padding-top: 70px;
  text-align: center;
}
.landingPage_main_area img{
  max-width: 200px;
}
/* Image end */

/* title start */
.title-wrapper{
  margin: 0rem 2rem;
}
.title{
  font-family: var(--secondaryFont) !important;
  color: var(--secondaryColor);
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  text-align: center;
  opacity: 70%;
}
.title h1{
  font-size: 1.8em !important;
}
/* title end */

/* attribute list on homepage */
.home-attributes{
  margin: 0rem;
  padding: 0rem;
  list-style-type: none;
  display: block;
  text-align: center;
  justify-content: center;
  color: var(--secondaryColor);
  margin-top: 25px;
}
.home-attributes a{
  color: var(--secondaryColor);
  opacity: 60%;
  transition-duration: 0.8s;
  text-decoration: none;
  @include standardFonts();
}
.home-attributes a:hover{
  color: var(--lightAccentColor);
  opacity: 100%;
}
.home-attributes li{
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
/* end of attribute list */
.landingPage_buttom{
  position: absolute;
  width: 100%;
  bottom: 0px;
  //background: var(--primaryColor);  //would serve for mobile and tablet views if activated
  text-align: center;
  height: 8vh;
  //line-height: 8vh;
}
@media screen and (min-width: 768px) {
  .landingPage_main_area{
    margin-left: 50px;
    margin-right: 50px;
    height: 92vh !important;
  }
  .title-wrapper{
    margin: 1rem 2rem;
  }
  .title h1{
    font-size: 2em;
  }
  .home-attributes{
    display: flex;
    line-height: 200%;
  }
  .landingPage_buttom{
    background: var(--mainDark) !important;
  } 
} 
/* end of landing page main body */